$bg-white: #f9faf4;
$dark-grey: #41413c;
$yellow: #f5d821;
$pale-yellow: #f6ed9e;
$pale-green: #e3e2b0;
$green: #98b950;
$sky-blue: #cfebfd;
$light-blue: #91d1ed;
$blue: #2aa6dc;
$pink: #df5673;
$blue-2: #527adf;
$light-pink: #f7d2d0;