@import '_mixin.scss';
@import '_var.scss';

body {
    margin: 0;
    font-family: 'Fredoka';
    background-color: $bg-white;
    color: $dark-grey;
}

a {
    text-decoration: none;
    color: $dark-grey;

    &:visited {
        color: $dark-grey;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4 {
    font-family: 'Bodoni Moda';
    font-weight: 500;
}

h3 {
    font-size: 24px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    @include nonDesktop {
        max-width: 100%;
        margin: 0 20px;
    }
}

button,
.btn {
    padding: 8px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: $light-blue;
    border: 0;
    text-align: center;
    cursor: pointer;
}

.btn {

    &--big {
        font-size: 24px;
        padding: 10px 50px;
        border-radius: 45px;
        font-family: 'Bodoni Moda';
        background-color: $blue;
        color: $bg-white;
    }

    &--icon {
        border-radius: 100%;
        padding: 0;
        width: 30px;
        height: 30px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            width: 30px;
            height: 30px;
        }
    }
}

.bg {

    &--pale-yellow {
        background-color: $pale-yellow;
    }

    &--pale-green {
        background-color: $pale-green;
    }
}

p {
    margin-top: 0;
    line-height: 1.6;
}

.radio-button {
    input {
        display: none;
    }

    label {
        border: solid 1px $pink;
        background-color: transparent;
        padding: 5px 10px;
        border-radius: 20px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;

        &:has(input:checked) {
            background-color: $pink;
            color: $bg-white;
        }
    }
}

.mt-12 {
    margin-top: 120px;
}

.h-100vh {
    height: 100vh;

    @include mobile {
        height: auto;
        min-height: 100vh;
    }
}