@import '_mixin.scss';
@import '_var.scss';

body {
    margin: 0;
    font-family: 'Fredoka';
    background-color: $bg-white;
    color: $dark-grey;
}

a {
    text-decoration: none;
    &:visited {
        color: $dark-grey;
        text-decoration: none;
    }
}

h1,
h2,
h3 {
    font-family: 'Bodoni Moda';
    font-weight: 500;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    @include nonDesktop {
        max-width: 100%;
        margin: 0 20px;
    }
}

button,
.btn {
    padding: 8px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: $light-blue;
    border: 0;
    text-align: center;
    cursor: pointer;
}